<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="UTF-8">
	<title>Spring_Boot_Security</title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
	<style>
		
	</style>
</head>
<body>
	<th:block th:insert="~{inc/header.html :: menu}"></th:block>
	<h2>Login</h2>
	
	<div>
		<a href="/oauth2/authorization/naver">네이버 로그인</a>
		<hr>
		<a href="/oauth2/authorization/google">구글 로그인</a>
	</div>
	
	
	
</body>
</html>










