<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="UTF-8">
	<title>Spring_Boot_Security</title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
	<style>
		
	</style>
</head>
<body>
	<th:block th:insert="~{inc/header.html :: menu}"></th:block>
	<h2>My</h2>
	
	<div>개인 페이지</div>
	
	<div>
		<div th:text="${username}"></div>
		<div th:text="${role}"></div>
		<div th:text="${authentication}"></div>
	</div>
	
	
</body>
</html>










