<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="UTF-8">
	<title>Spring_Boot_Security</title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
	<style>
		
	</style>
</head>
<body>
	<th:block th:insert="~{inc/header.html :: menu}"></th:block>
	<h2>Index</h2>
	
	<div>시작 페이지</div>
	
	<div>username: <span sec:authentication="name"></span></div>
	
	<div class="message">principal: <span sec:authentication="principal.member"></span></div>
	
</body>
</html>










