<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Spring_Boot_Security</title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
	<style>
		
	</style>
</head>
<body>
	<th:block th:insert="~{inc/header.html :: menu}"></th:block>
	<h2>Login</h2>
	
	<form method="POST" action="/loginok">
	<table>
		<tr>
			<th>ID</th>
			<td><input type="text" name="username" required></td>
		</tr>
		<tr>
			<th>PW</th>
			<td><input type="password" name="password" required></td>
		</tr>
	</table>
	<div><button>Login</button></div>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	</form>
	
</body>
</html>










