<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<body>
	<header th:fragment="menu">
		<h1>Security</h1>
		<ul>
			<li><a href="/">Index</a></li>
			
			<!--  
				
				인증 정보: sec:authentication > 정보 확인
				허가 처리: sec:authorize > 권한 허가
			
			-->
			
			<th:block sec:authorize="isAnonymous()">
			<li><a href="/join">Join</a></li>
			<li><a href="/login">Login</a></li>
			</th:block>
			
			<th:block sec:authorize="isAuthenticated()">
			<li><a href="/logout">Logout</a></li>
			<li><a href="/my">My</a></li>
			<li sec:authorize="hasRole('ADMIN')"><a href="/admin">Admin</a></li>
			</th:block>
		</ul>	
	</header>
	
</body>
</html>
