<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
	<style>
		
	</style>
</head>
<body>
	<h1>m02</h1>
	
	<h2>스프링 메시지</h2>
	
	<!--
		
		3. Message Expression, 메시지 표현식
		- #{}
		
	-->
	<h3 th:text="#{language}"></h3>
	
	<hr>
	
	<h3 th:text="#{item.title}"></h3>
	
	<ul>
		<li th:text="#{item.name}"></li>
		<li th:text="#{item.color}"></li>
		<li th:text="#{item.option}"></li>
		<li th:text="#{item.desc(#{item.name}, #{item.color})}"></li>
	</ul>
	
</body>
</html>




























