<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
	<style>
		
	</style>
</head>
<body>
	<h1>HTML 속성 조작하기</h1>
	
	<!--
		
		*** 타임리프의 표현식들은 th: 속성과 같이 사용한다.
		
	-->
	
	<div>${txt}</div>
	<div th:text="${txt}"></div>
	
	<div>
		<div><input type="text" name="num" th:value="${num}" th:size="${num}"></div>
		<div><input type="text" th:value="${txt}"></div>
	</div>
	
	<div style="background-color: pink;">BOX</div>
	<div th:style="' background-color: ' + ${color}">BOX</div>
	<div th:style="|background-color: ${color}|">BOX</div>
	
	<hr>
	
	<div><input type="checkbox" id="cb1" th:checked="${flag}"> 체크함</div>
	<div><input type="checkbox" th:checked="${age>=18}"> 성인</div>
	
	<div>
		<select>
			<option value="pink" th:selected="${color == 'pink'}">pink</option>
		</select>
	</div>
	
	
	
</body>
</html>




























