<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK">
	<style>
		
	</style>
</head>
<body>
	<h1>Contents</h1>
	
	<!--/* 
		
		Thymeleaf Text
		1. th:text
			- escaped text
			- HTML 구문 인식 X
			- ojb.innerText
		
		2. th:utext
			- unescaped text
			- HTML 구문 인식 O
			- ojb.innerText
		
		인라인 출력
		- 거의 대부분의 태그는 이 속성을 가지고 있다.
		- th:inline="text"
		- th:inline="javascript"
		- th:inline + [[]]	//escaped text
		- th:inline + [()]	//unescaped text
		
	*/-->
	
	<div th:text="${txt1}"></div>
	<div th:text="${txt2}"></div>
	
	
	<div th:utext="${txt1}"></div>
	<div th:utext="${txt2}"></div>
	
	<hr>
	
	<div th:utext="${txt2}"></div>
	<div th:inline="text">[(${txt2})]</div>
	<div>[[${txt1}]]</div>
	
	<hr>
	<!-- PCDATA 조작하는 모든 방법 -->
	<div>이름: 홍길동</div>
	<div>이름: <span th:text="${name}"></span></div>
	<div th:text="'이름: ' + ${name}"></div>
	<div th:text="|이름: ${name}|"></div>
	<div th:inline="text">이름: [[${name}]]</div>
	<div>이름: [[${name}]]</div>
	
	<hr>
	
	<div id="list"></div>
	
	<script th:inline="text">
	
		//let name1 = '${name}';
		
		let name1 = '[[${name}]]';
		let num1 = [[${num}]];
		let dto1 = [[${dto}]];
		let dto1_name = '[[${dto.name}]]';
		let dto1_age = '[[${dto.age}]]';
		let map1 = '[[${map}]]';
		let names1 = '[[${names}]]';
		let list1 = '[[${list}]]';
	
	</script>
	
	<script th:inline="javascript">
	
		let name2 = [[${name}]];
		let num2 = [[${num}]];
		let dto2 = [[${dto}]];
		let map2 = [[${map}]];
		let names2 = [[${names}]];
		let list2 = [[${list}]];
		
		list2.forEach(item=> {
			document.getElementById('list').innerHTML +=`
				<div>${item.name} - ${item.age} - ${item.address}</div>
				`;
			});
		
		//alert(dto2.name);
	
	</script>
	
</body>
</html>




























